Interface/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BloodCrowdService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BloodCrowdService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDonator">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Donator" nillable="true" type="tns:Donator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDonator" nillable="true" type="tns:ArrayOfDonator" />
  <xs:complexType name="Donator">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="BirthDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BloodType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Centimeters" type="xs:double" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Imc" type="xs:double" />
      <xs:element minOccurs="0" name="Kilograms" type="xs:double" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MothersMaiden" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Occupation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Statefull" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelephoneNumber" type="xs:long" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vehicle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Donator" nillable="true" type="tns:Donator" />
  <xs:complexType name="ArrayOfShortDonator">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShortDonator" nillable="true" type="tns:ShortDonator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShortDonator" nillable="true" type="tns:ArrayOfShortDonator" />
  <xs:complexType name="ShortDonator">
    <xs:sequence>
      <xs:element minOccurs="0" name="BloodType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShortDonator" nillable="true" type="tns:ShortDonator" />
</xs:schema>